<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <img id='left-img' src="../images/travel.png" alt="">
  <img id='right-img' src="../images/travel2.png" alt="">
  <div class="container">
    <h1>Your Trip Guide</h1>
    <div class="inputs">
      <div class="input-container">
        <label for="location">Location </label> <input type="text" id='location' placeholder="City">
      </div>

      <div class="input-container">
        <label for="start-date">Start Date </label> <input type="date" id='start-date'>
      </div>
      <div class="input-container">
        <label for="end-date">End Date</label> <input type="date" id='end-date'>
      </div>
      <button id='submit-data'>
        Submit
      </button>



    </div>

  </div>
</body>

</html>