h1{
  text-align: center;
  font-style: italic;
  background-color: #317A45;
  width: 600px;
  font-size:30px;
  padding:10px;
  transform: rotate(-1deg);
  border-radius: 16px;
  font-family: 'Sriracha', sans-serif;
  margin: 30px auto;
  color:white;
  display: block;
}
@media (max-width:768px)
{

  h1{
    width:400px;
  }

  
}
@media (max-width:425px)
{
  h1{
    width:300px;
    padding:5px;
    font-size:20px;
  }
}